.Form, .Boxes, .Title {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.loginButton {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}

h3 {
    text-decoration: underline;
}
